<div class="col-xs-12 my-2 px-0">
  <form name="deviceCommandForm" ng-submit="commandSend(deviceCommandForm)" class="col-xs-12 row">
    <md-input-container class="md-block col-xs-12 col-md-6">
      <label>{{ 'COMMANDS' | translate }}</label>
      <md-select aria-label="command" ng-model="commandSelected.name" required="required">
        <!--md-option ng-value="command.name" ng-repeat="command in commandsAvailable | orderBy: 'displayName'"> {{command.displayName}} </md-option-->
        <md-option ng-value="command.name" ng-repeat="command in commandsAvailable | filter : {privGroups : currentUser.idRole } : true | orderBy: 'displayName'"> {{command.displayName}} </md-option>
      </md-select>
      <div class="md-errors-spacer"></div>
    </md-input-container>
    <md-input-container class="md-block col-xs-12 col-md-6" ng-if="commandRequireParams(commandSelected.name)">
      <label> {{ 'COMMAND_PARAMS' | translate }} </label>
      <textarea name="paramValue" ng-model="commandSelected.parameters"></textarea>
    </md-input-container>
    <div class="col-xs-12">
      <md-button type="submit" class="md-raised md-accent full-button mx-0 px-0" aria-label="Send command" ng-disabled="deviceCommandForm.$invalid || isCommandFormSubmitting">
        {{ 'SEND_COMMAND' | translate }}
      </md-button>
    </div>
  </form>
</div>
