<div class="col-xs-12 my-2 px-0">
  <form name="form.filtersForm" class="col-xs-12 row" ng-submit="filterChart()">
    <div class="row col-xs-12">
      <md-input-container class="md-block  col-xs-6 col-md-3">
        <label>{{ 'REPORT' | translate }}</label>
        <md-select ng-model="dashboardId" name="report" aria-label="report">
          <md-option ng-repeat="dashboard in dashboards | orderBy: 'name' track by $index" ng-value="dashboard.id">
            {{ dashboard.name }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="row col-xs-12">
      <div class="row col-xs-12 col-md-6">
        <md-input-container class="md-block col-xs-12 col-md-9" layout-align="center center">
          <label>{{ 'DATE_FROM' | translate }}</label>
          <md-datepicker name="dateFrom" ng-model="chartFilters.from" md-max-date="chartFilters.to" required="required"></md-datepicker>
          <div class="md-errors-spacer"></div>
          <div ng-messages for="filtersForm.dateFrom.$error" role="alert">
            <div ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
          </div>
        </md-input-container>
        <md-time-picker ng-model="chartFilters.from" mandatory="required" no-meridiem no-auto-switch class="md-block" layout></md-time-picker>
      </div>
      <div class="row col-xs-12 col-md-6">
        <md-input-container class="md-block col-xs-12 col-md-9" layout-align="center center">
          <label>{{ 'DATE_TO' | translate }}</label>
          <md-datepicker name="dateTo" ng-model="chartFilters.to" md-min-date="chartFilters.from" required="required"></md-datepicker>
          <div class="md-errors-spacer"></div>
          <div ng-messages for="filtersForm.dateTo.$error" role="alert">
            <div ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
          </div>
        </md-input-container>
        <md-time-picker ng-model="chartFilters.to" mandatory="required" no-meridiem no-auto-switch class="md-block" layout></md-time-picker>
      </div>
    </div>

    <div class="col-xs-12 mx-0 px-0 text-align-right">
      <md-button type="submit" class="md-button md-raised md-accent" ng-disabled="form.filtersForm.$invalid">
        {{ 'FILTER' | translate }}
      </md-button>
      <md-button type="button" class="md-button md-raised md-accent" ng-click="reset()">
        {{ 'RESET' | translate }}
      </md-button>
    </div>
  </form>
</div>
<div class="col-xs-12 row">
  <div id="kibana-iframe-container" class="iframe-container">
    <iframe id="kibana-iframe" ng-src="{{trustSrc(kibanaDashUrl)}}" class="col-xs-12"></iframe>
  </div>
</div>
