<div class="col-xs-12 row my-2 mx-0 px-0">
  <form name="ticketForm" class="row col-xs-12 my-2" ng-submit="createTicket()" ng-if="currentUser.idRole != userRoles.superadmin">
    <md-input-container class="md-block col-xs-6">
      <label>{{ 'SUBJECT' | translate }}</label>
      <input type="text" name="subject" ng-model="newTicket.subject" required="required" />
      <div ng-messages for="ticketForm.subject.$error" role="alert">
        <div ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block col-xs-6">
      <label>{{ 'DESCRIPTION' | translate }}</label>
      <input type="hidden" ng-model="newTicket.deviceName" required="required">
      <textarea name="description" ng-model="newTicket.description" required="required"></textarea>
      <div ng-messages for="ticketForm.description.$error" role="alert">
        <div ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
      </div>
    </md-input-container>
    <div class="col-xs-12">
      <md-button type="submit" class="md-button md-raised md-accent mantainance-btn full-button" ng-disabled="ticketForm.$invalid || isTicketFormSubmitting">
        {{ 'CREATE_TICKET' | translate }}
      </md-button>
    </div>
  </form>

  <div class="col-xs-12 mx-0 px-0">
    <md-table-container>
      <table md-table md-progress="tickets" class="custom-datatable">
        <thead md-head md-order="query.order" md-on-reorder="getTickets">
          <tr md-row>
            <th class="dark-text"> {{ 'NUMBER' | translate }} </th>
            <th class="dark-text"> {{ 'SUBJECT' | translate }} </th>
            <th class="dark-text"> {{ 'DESCRIPTION' | translate }} </th>
            <th class="dark-text"> {{ 'LINK' | translate }} </th>
          </tr>
        </thead>
        <tbody md-body>
          <tr class="md-row md-row-empty" ng-show="tickets.length === 0">
            <td class="md-cell" colspan="4">{{ 'NO_TICKETS_AVAILABLE' | translate }}</td>
          </tr>
          <tr md-row md-select="ticket.id" ng-repeat="ticket in tickets | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
            <td md-cell>{{ '#' + ticket.id}}</td>
            <td md-cell>{{ticket.subject}}</td>
            <td md-cell>{{ticket.description}}</td>
            <td md-cell>
              <a ng-if="currentUser.extra && currentUser.extra.redmineURI" ng-href="{{ currentUser.extra.redmineURI + 'issues/' + ticket.id }}"
                target="_blank">Open Redmine</a>
            </td>
          </tr>
        </tbody>
      </table>
      <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{ tickets.length }}"
        md-on-paginate="getTickets" md-page-select></md-table-pagination>
    </md-table-container>
  </div>
</div>
