<div class="table-page-box h-100 row" refresh-on-idle>
  <div class="col-xs-12 px-0" layout-fill>
    <div class="row middle-xs col-xs-12 mx-0 px-0">
      <md-button class="md-button md-mini  mx-0 px-0" ng-click="goto(returnToRoute)">
        <md-tooltip md-direction="top"> {{ 'BACK' | translate }} </md-tooltip>
        <md-icon md-font-set="material-icons md-36 md-dark login-icon">&#xE314;</md-icon>
      </md-button>
      <div class="col-xs-8">
        <h1 class="dark-title margin-zero">{{ device.displayName }}</h1>
      </div>
    </div>
    <div class="col-xs-12 row mx-0 px-0 fullHeightLessTopbar">
      <md-tabs class="col-xs-12 mx-0 px-0" md-selected="selectedIndex">
        <md-tab label="{{ 'STATUS' | translate }}" id="statusHost">
          <md-tab-content class="col-xs-12 px-0 mx-0">
            <ng-include src="'/views/devices/details/_status.html'" ng-init="" class="col-xs-12 px-0 mx-0"></ng-include>
          </md-tab-content>
        </md-tab>
        <md-tab label="{{ 'INFO' | translate }}" id="infoHost">
          <md-tab-content class="col-xs-12 px-0 mx-0">
            <ng-include src="'/views/devices/details/_info.html'" ng-init="" class="col-xs-12 px-0 mx-0"></ng-include>
          </md-tab-content>
        </md-tab>
        <!-- <md-tab label="{{ 'SERVICES' | translate }}" id="serviesHost" ng-if="customServiceConfs.length > 0">
            <md-tab-content class="col-xs-12 px-0 mx-0">
              <ng-include src="'/views/devices/details/_services.html'" ng-init="" class="col-xs-12 px-0 mx-0"></ng-include>
            </md-tab-content>
          </md-tab> -->
        <md-tab label="{{ 'SCREENSHOT' | translate }}" id="screenHost" md-on-select="onScreenshotTabSelect()" md-on-deselect="onScreenshotTabDeSelect()">
          <md-tab-content layout="column" layout-fill>
            <ng-include src="'/views/devices/details/_screenshot.html'" ng-init=""></ng-include>
          </md-tab-content>
        </md-tab>
        <md-tab label="{{ 'DETAILS' | translate }}" id="detailHost" md-on-select="onDetailTabSelect()" md-on-deselect="onDetailTabDeSelect()">
          <md-tab-content class="col-xs-12 px-0 mx-0">
            <ng-include src="'/views/devices/details/_details.html'" ng-init="" class="col-xs-12 px-0 mx-0"></ng-include>
          </md-tab-content>
        </md-tab>
        <md-tab label="{{ 'MAINTENANCE' | translate }}" id="maintenanceHost" md-on-select="onMaintenanceTabSelect()" ng-if="isAuthorized([userRoles.superadmin, userRoles.admin, userRoles.operator])">
          <md-tab-contentclass="col-xs-12 px-0 mx-0">
            <ng-include src="'/views/devices/details/_maintenance.html'" ng-init="" class="col-xs-12 row px-0 mx-0"></ng-include>
            </md-tab-content>
        </md-tab>
        <md-tab label="{{ 'COMMANDS' | translate }}" id="commandsHost" ng-if="isAuthorized([userRoles.superadmin, userRoles.admin, userRoles.operator, userRoles.maintainer])">
          <md-tab-content class="col-xs-12 px-0 mx-0">
            <ng-include src="'/views/devices/details/_commands.html'" ng-init="" class="col-xs-12 row px-0 mx-0"></ng-include>
          </md-tab-content>
        </md-tab>
        <md-tab label="{{ 'TICKETS' | translate }}" id="ticketsHost" md-on-select="onTicketTabSelect()" ng-if="isAuthorized([userRoles.superadmin, userRoles.admin, userRoles.operator])">
          <md-tab-content class="col-xs-12 px-0 mx-0">
            <ng-include src="'/views/devices/details/_ticket.html'" ng-init="" class="col-xs-12 row px-0 mx-0"></ng-include>
          </md-tab-content>
        </md-tab>
        <md-tab label="{{ 'REPORT' | translate }}" id="dashboardHost" md-on-select="reset()">
          <md-tab-content class="col-xs-12 px-0 mx-0">
            <ng-include src="'/views/devices/details/_kibana.html'" ng-init="" class="col-xs-12 px-0 mx-0"></ng-include>
          </md-tab-content>
        </md-tab>
      </md-tabs>
    </div>
  </div>

  <div class="action-over-btn" ng-if="isAuthorized([userRoles.superadmin, userRoles.admin])">
    <md-fab-speed-dial md-open="fabIsOpen" md-direction="left" ng-class="fabSelectedMode">
      <md-fab-trigger>
        <md-button class="md-fab md-accent">
          <md-tooltip md-direction="top" md-visible="tooltipVisible"> {{ 'MENU' | translate }} </md-tooltip>
          <md-icon md-font-set="material-icons md-24 md-light ">&#xE5D2;</md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button aria-label="Edit" class="md-fab md-raised md-mini" ng-click="editDeviceNavOpen($event)">
          <md-tooltip md-direction="top"> {{ 'EDIT_DEVICE' | translate }} </md-tooltip>
          <md-icon md-font-set="material-icons md-accent" aria-label="Edit">&#xE150;</md-icon>
        </md-button>
        <md-button ng-click="deleteDevice($event)" aria-label="Delete" class="md-fab md-raised md-mini">
          <md-tooltip md-direction="top"> {{ 'DELETE_DEVICE' | translate }} </md-tooltip>
          <md-icon md-font-set="material-icons md-accent" aria-label="Delete">&#xE872;</md-icon>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</div>



<section>
  <md-sidenav class="md-sidenav-right" md-component-id="edit-device-nav">
    <div layout-fill>
      <div class="row middle-xs between-xs col-xs-12 topTitle-sidenav mx-0">
        <div class="col-xs-2">
          <md-button class="md-icon-button" ng-click="editDeviceNavClose()">
            <md-icon md-font-set="material-icons md-24 md-light">&#xE5CD;</md-icon>
          </md-button>
        </div>
        <div class="col-xs-8">
          <h1 class="md-title title-form">{{ 'EDIT_DEVICE' | translate }}</h1>
        </div>
      </div>
      <div class="row fullHeightLessTopbar col-xs-12 mx-0 px-0">
        <device-wizard device-defaults="deviceDefaults" devices="devices" stations="stations" templates="templates" groups="groups"
          authorized="isAuthorized([userRoles.superadmin, userRoles.admin])" ng-if="editDeviceIsOpen"></device-wizard>
      </div>
    </div>
  </md-sidenav>
</section>
